name: Build AppImage

on:
  workflow_dispatch:

jobs:
  build:
    name: Build on Ubuntu (${{ matrix.arch }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          set -x
          sudo apt install -y zsync

      - name: Package as AppImage
        run: |
          set -x
          chmod +x AppImage.sh
          ./AppImage.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-${{ matrix.arch }}-build
          path: |
            dist/*
